/* src/components/Header.css */
.header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /* position: relative; */
    bottom: 0;
    /* margin-top: 50px; */
    width: 100%;
    margin-top: auto;
}
