@import url('https://fonts.cdnfonts.com/css/graphik-trial');

body {
    font-family: 'Graphik Compact Trial', sans-serif;
  }

.site-layout-content {
  padding: 50px;
  background: #fff;
  
}

.hero-section {
  height: 70vh;
  background: url('https://source.unsplash.com/1600x900/?gas-station') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: left;
}

.hero-section .ant-typography-title {
  color: #ffffff !important;
}

.hero-section .ant-typography {
  color: #ffffff !important;
}

.hero-section .ant-btn-primary {
  background-color: #024702 !important;
  border-color: #024702 !important;
}

.product-section {
  margin-top: 50px;
}

.product-section .ant-card {
  transition: transform 0.3s ease;
}

.product-section .ant-card:hover {
  transform: translateY(-10px);
}

.about-section, .contact-section {
  padding: 50px;
  background-color: #f0f0f0;
  margin-top: 50px;
  border-radius: 10px;
}

.about-section .ant-row, .contact-section .ant-row {
  align-items: center;
}

.site-layout-content {
  padding: 50px 0;
}
